@use './variables' as *;

@mixin flexBox( $direction : row , $jc : start, $ai : start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
}  

@mixin tgSize($size : 1.6rem, $weight : 300 ) {
  font-family: rubik;
  font-size: $size;
  font-weight: $weight;
}

@mixin bgColorIcon($bgsize, $background) {
  width: $bgsize;
  height: $bgsize;
  align-content: center;
  background-color: $background;
  border-radius: .3rem;
}

@mixin iconItem ($iconsize){
  width: $iconsize;
  height: $iconsize;
  margin-inline: auto;
}

@mixin buttonItem ($backgroundItem : $blue-850-color){
  display: grid;
  grid-template-columns: 2.5rem 1fr 2rem;
  // justify-content: flex-start;
  align-items: center;   
  gap: 1rem;
  width: 100%;
  background-color: $backgroundItem;
  border-radius: .75rem;
  box-shadow: .7px .7px 8px 1px rgba(0, 0, 0, .1);
  padding: 1rem; 
  &:hover {
    outline: 3px solid $purple-600-color;
    .item__radio {
      background-color: $purple-600-color;
    }
    .item__letter {
      color: $white-color;
    }
  }
  &:focus {
    outline: 3px solid $purple-600-color;
    .item__radio {
      background-color: $purple-600-color;
    }
    .item__letter {
      color: $white-color;
    }
  }
} 
