
$green-500-color: #2fd887;
$green-100-color: #e0fdef;
$grey-500-color: #626c7f;
$grey-50-color: #f4f6fa;
$blue-950-color: #2d3949;
$blue-900-color: #313e51;
$blue-850-color: #3b4d66;
$blue-500-color: #306aff;
$blue-300-color: #abc1e1;
$blue-100-color: #edf1f9;
$blue-50-color: #ebf0ff; 
$purple-600-color: #a729f5;
$purple-100-color: #f6e7ff;
$orange-400-color: #ff7e35;
$orange-50-color: #fff5ed;
$red-500-color: #ee5454;
$white-color: #ffffff; 
$black-color: #000000;

$textMobile-1: 5.5rem; // 88px
$textMobile-2: 2.5rem; // 40px
$textMobile-3: 1.25rem; //20px
$textMobile-4: 1.125rem; //18px
$textMobile-5: 1.5rem; // 24px

$text-1: 9rem; // 144px
$text-2: 4rem; // 64px
$text-3: 2.25rem; //36px
$text-4: 1.75rem; //28px
$text-5: 1.5rem; // 24px
$text-6: 1.25rem; // 20px
$text-7: .875rem; // 14px



$text-lh-1: 1.5;
$text-lh-2: 1.1;

$space-2300: 11.5rem; //184px
$space-2200: 11rem; // 176px
$space-2000: 10rem; // 160px
$space-1600: 8rem; // 128px
$space-1300: 6.5rem; // 104px
$space-1200: 6rem; // 96px
$space-1000: 5rem; // 80px
$space-900: 4.5rem; // 72px
$space-800: 4rem; // 64px
$space-700: 3.5rem; // 56px
$space-600: 3rem; // 48px
$space-500: 2.5rem; // 40px
$space-400: 2rem; // 32px
$space-350: 1.75rem; // 28px
$space-300: 1.5rem; // 24px
$space-275: 1.25rem;//20px 
$space-250: 1.125rem;//18px 
$space-200: 1rem;  // 16px
$space-175: .875rem;//14px 
$space-150: .75rem;//12px 
$space-100: .5rem; // 8px
$space-50: .25rem; // 4px -- 
// 0.625rem = 10px
// 1.125rem = 18px
// 0.75rem = 12px
// 0.188rem  = 3PX
// 0.125rem  = 2px 
// 0.063rem  = 1PX
// 0.056rem  = 0.9px
// 0.044rem  = 0.7PX
// 0.031rem  = .5px -- 0.025-0.4px  -- .019-3px -- 0.013-2px -- 0.006-1px




