@use './reset';
@use './variables' as *;
@use './mixin' as *;
@use './font-face' as *;

@include fontFace('rubik', '../fonts/Rubik-VariableFont_wght.ttf', 300 900);
@include fontFace('rubikItalic', '../fonts/Rubik-Italic-VariableFont_wght.ttf', 300 900);

body {
  background-image: url('../images/pattern-background-mobile-dark.svg');
  background-color: $blue-900-color;
  color: $white-color;
  display: flex;
  flex-direction: column;
  font-family: rubik;
}

.layout__access {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.access__icon {
  /* opacity: 0; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.access__title {
  font-size: 1.125rem;
  font-weight: 500;
}

.access__image {
  @include bgColorIcon($space-500, $purple-100-color);
}

.item__images,
.access__img {
  @include iconItem (1.786rem);
}

.access__themes {
  display: flex;
  align-items: center;
  gap: $space-100; //8px
}

.themes__images {
  width: $space-200; //14px 
  height: $space-200; //14px 
}

.themes__options {
  position: relative;
  display: inline-block;
  width: $space-400; //32px
  height: $space-275; //20px
}

.theme__checkbox {
  position: absolute;
  background-color: $purple-600-color;
  border-radius: $space-300; //24px
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: all  .5s ease-in-out;
  &::before {
    width: .9rem; //12PX
    height: .9rem; // 12px
    position: absolute;
    content: '';
    background-color: $white-color;
    border-radius: 50%;
    top: 3px;
    left: 2.5px;
    transition: all  .5s ease-in-out;
  }
}

.theme__option {
  opacity: 0;
  width: 0;
  height: 0;
  &:checked + .theme__checkbox::before {
    transform: translateX(15px);
  }
}

.wrappes__start {
  display: none; 
  /* display: grid;  */
  justify-items: center;
  align-items: center;
  gap: $space-500;//40px 2.5rem
  padding: $space-400 $space-300;//32px 2rem -- 24px 1.5rem
}

.start__title {
  font-size: $textMobile-2;//40px
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.title__bold {
  font-weight: 500;
}

.question__subtitle,
.start__subtitle {
  font-size: $text-7;//14px .875rem
  font-family: rubikItalic;
  font-weight: 300;
  letter-spacing: .4px;
}

.start__menu {
  width: 100%;
}

.menu__list {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.quiz__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: $blue-850-color;
  border-radius: .75rem;
  padding: 1rem; 
}

.item__images--html {
  @include bgColorIcon($space-500, $orange-50-color);
}
.item__images--css {
  @include bgColorIcon($space-500, $green-100-color);
}
.item__images--js {
  @include bgColorIcon($space-500, $blue-50-color);
}
.item__images--access {
  @include bgColorIcon($space-500, $purple-100-color);
}


.wrappers__questions {
  /* display: none;  */
  display: grid;  
  gap: $space-500; //40px
  padding: $space-400 $space-300 0 $space-300;
}

.questions__question {
  display: grid;
  gap: 1rem;
}

.question__title {
  @include tgSize($textMobile-3, 500);
  line-height: 1.2;
  margin-bottom: $space-300;
}

.question__bars {
  width: 100%;
  height: 1rem;
  display: flex;
  align-items: center;
  background-color: $blue-850-color;
  border-radius: 3rem;
}

.bars__progress {
  width: 60%;
  height: .5rem;
  background-color: $purple-600-color;
  align-content: center;
  margin-inline: .3rem;
  border-radius: 3rem;
}

.questions__answers {
  display: grid;
  gap: 1rem;
}

.answers__item {
  @include buttonItem; 
  border: 3px solid transparent;
}

.answers__radio {
  -webkit-appearance: none;
  appearance: none;
}

.item__radio {
  @include bgColorIcon($space-500, $grey-50-color);
  text-align: center;
}

.item__text {
  @include tgSize($textMobile-4, 500); 
}

.item__letter {
  color: $grey-500-color;
  @include tgSize($textMobile-4, 500);
  text-transform: uppercase;
}

.item__icon {
  display: none;
}

.button__submit {
  @include buttonItem;
  @include tgSize($textMobile-4, 500);
  display: block;
  background-color: $purple-600-color;
  text-align: center;
  text-transform: capitalize;
}

.wrappes__completed {
  display: none;
  /* display: grid; */
  gap: $space-500;
  padding: $space-400 $space-300 0 $space-300;
}

.completed__title {
  @include tgSize($textMobile-2, 300);
  line-height: 1;
}

.completed__subtitle {
  @include tgSize($textMobile-2, 600);
  line-height: 1;
}

.completed__results {
  display: grid;
  gap: 1rem;
}

.results__result {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: $space-400;
  background-color: $blue-850-color;
  border-radius: 1rem;
}

.result__number {
  @include tgSize($textMobile-1, 500);
  line-height: 1.2;
}

.result__of {
  @include tgSize($text-7, 400);
  color: $blue-300-color;
}

.completed__button {
  @include tgSize($textMobile-4, 500);
  width: 100%;
  padding: 1rem;
  background-color: $purple-600-color;
  border-radius: $space-150;
}

@media (min-width: 45em) {
  body {
    background-image: url('../images/pattern-background-tablet-dark.svg');
    background-repeat: no-repeat;
    padding: $space-500 $space-800 0 $space-800;
  }
    
  .layout__access {
    /* margin: $space-500 $space-800; */
    padding: 0;
  }

/* ####### START QUESTIONS ######## */

  .questions__question {
    gap: 1.313rem;//21px
  }
  .question__title {
   font-size: $text-3;//36px
    // @include tgSize($textMobile-3, 500);
    // line-height: 1.2;
    // margin-bottom: $space-300;
  }
  .question__subtitle {
    font-size: $text-6;//20PX
  }
  .questions__answers {
    gap: $space-300;//24px
  }
  .answers__item {
    grid-template-columns: 3.5rem 1fr 2.5rem;
    gap: $space-400;//32PX
    border-radius: 1.25rem;
  }
  .item__radio {
    width: $space-700; //56px
    height: $space-700;
    border-radius: $space-150;
  }
  .item__letter {
    font-size: $text-4;
  }
  .item__text {
    font-size: $text-4;
  } 
  .button__submit {
    font-size: $space-350;
    padding: $space-400;
  }

/* #### END QUESTIONS ####### */

  .wrappes__completed {
    padding: 0;
}
  .access__image {
    @include bgColorIcon($space-700, $purple-100-color);
  }
  .item__images,
  .access__img {
    @include iconItem ($space-500);
  }
  .access__title {
    font-size: $text-4;
  }
  .access__themes {
    gap: $space-200; //16px
  }

  .themes__images {
    width: $space-300; //14px 
    height: $space-300; //14px 
  }

  .themes__options {
    width: $space-600; //32px
    height: $space-350; //20px
  }
  .theme__checkbox::before {
    width: $space-275;
    height: $space-275;
    top: 4px;
  }
  .theme__option:checked + .theme__checkbox::before {
      transform: translateX(21px);
  }
  
  .completed__results {
    width: 100%;
    /* padding: $space-600; */
    gap: $space-400;
}
  .completed__subtitle,
  .completed__title {
    font-size: $text-2;
    line-height: 1.2;
  }
  .results__result {
    gap: $space-500;
}
  .result__number {
    font-size: $text-1;
    line-height: 1.2;
  }
  .result__of {
    @include tgSize($text-5, 400);
    margin-top: 1rem;
  }
  .completed__button {
    font-size: $space-350;
    padding: $space-400; //32PX
    border-radius: $space-300; //24PX
}
}













