@use './reset';
@use './variables' as *;
@use './mixin' as *;
@use './font-face' as *;
@use  'sass:color';


@include fontFace('rubik', '../fonts/Rubik-VariableFont_wght.ttf', 300 900);
@include fontFace('rubikItalic', '../fonts/Rubik-Italic-VariableFont_wght.ttf', 300 900);

:root {
  --bg-body: #f4f6fa; //$blue-50-color: 
  --bg-item: #fff; //#3b4d66; // $blue-850-color;
  --bd-text: #313e51;//blue-900-color: 
  --text-subtitle: #626c7f; //grey-500-color: 
  --bg-button: #a729f5;//$purple-600-color: 
}

body {
  background-image: url('../images/pattern-background-mobile-light.svg');
  background-color:  var(--bg-body);   //$blue-900-color;
  color: var(--bd-text);
  display: flex;
  flex-direction: column;
  font-family: rubik;
}

.layout__access {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.access__icon {
  opacity: 0;  
  display: flex;
  align-items: center;
  gap: 1rem;
}

.access__icon--vissible {
  opacity: 1;
  transition: opacity .7s ease;
}

.access__title {
  font-size: 1.125rem;
  font-weight: 500;
}

.access__image {
  @include bgColorIcon($space-500, $purple-100-color);
}

.item__images,
.access__img {
  @include iconItem (1.786rem);
}

.access__themes {
  display: flex;
  align-items: center;
  gap: $space-100; //8px
}

.themes__images {
  width: $space-200; //14px 
  height: $space-200; //14px 
}

.themes__images--sun {
  background-image: url('../images/icon-sun-dark.svg');
  background-size: contain;
}
.themes__images--moon {
  background-image: url('../images/icon-moon-dark.svg');
  background-size: contain;
}

.themes__options {
  position: relative;
  display: inline-block;
  width: $space-400; //32px
  height: $space-275; //20px
  border-radius: $space-300;
}

.theme__checkbox {
  position: absolute;
  background-color: $purple-600-color;
  border-radius: $space-300; //24px
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: all  .5s ease-in-out;
  &::before {
    width: .9rem; //12PX
    height: .9rem; // 12px
    position: absolute;
    content: '';
    background-color: $white-color;
    border-radius: 50%;
    top: 3px;
    left: 2.5px;
    transition: all  .5s ease-in-out;
  }
}

.theme__option {
  opacity: 0;
  width: 0;
  height: 0;
  &:hover {
    outline: 2px solid $blue-500-color;
  }
  &:focus {
    outline: 2px solid $purple-600-color;
  }
  &:checked + .theme__checkbox::before {
    transform: translateX(15px);
  }
}
/* ###### START ######  QUIZ MENU START  ############# */

.wrappers__start {
  display: grid; 
  justify-items: center;
  align-items: center;
  gap: $space-500;//40px 2.5rem
  padding: $space-400 $space-300;//32px 2rem -- 24px 1.5rem
}

.start__title {
  font-size: $textMobile-2;//40px
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.start__title--bold {
  font-weight: 500;
}

.title__bold {
  font-weight: 500;
}

.question__subtitle,
.start__subtitle {
  color: var(--text-subtitle);
  font-size: $text-7;//14px .875rem
  font-family: rubikItalic;
  font-weight: 300;
  letter-spacing: .4px;
}

.start__menu {
  width: 100%;
}

.menu__list {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.quiz__item {
  @include buttonItem(var(--bg-item));
  justify-items: flex-start;
}

.item__images--html {
  background-color: $orange-50-color;
}
.item__images--css {
  background-color: $green-100-color;
}
.item__images--js {
  background-color: $blue-50-color;
}
.item__images--access {
  background-color: $purple-100-color;
}
/* ###### END ######  QUIZ MENU START  ############# */

/* ###### START ######  QUIZ QUESTIONS START  ############# */

.wrappers__questions {
  display: grid;   
  gap: $space-500; //40px
  padding: $space-400 $space-300 0 $space-300;
}

.questions__question {
  display: grid;
  gap: 1rem;
}

.question__title {
  @include tgSize($textMobile-3, 500);
  line-height: 1.2;
  margin-bottom: $space-300;
}

.question__bars {
  width: 100%;
  height: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--bg-item); // $blue-850-color;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .4) inset;
  border-radius: 3rem;
}

.bars__progress {
  width: 0%;
  height: .5rem;
  background-color: $purple-600-color;
  align-content: center;
  margin-inline: .3rem;
  border-radius: 3rem;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, .5) inset;
  transition: width .7s ease-in;
}

.questions__answers {
  display: grid;
  gap: 1rem;
}

.answers__item {
  @include buttonItem(var(--bg-item));
}
.answers__item--error {
  outline: 3px solid $red-500-color;
  .item__radio {
    background-color: $red-500-color;
  }
  .item__letter {
    color: $white-color;
  }
}
.answers__item--good {
  outline: 3px solid $green-500-color;
  .item__radio {
    background-color: $green-500-color;
  }
  .item__letter {
    color: $white-color;
  }
}
.answers__item--checked {
  outline: 3px solid $purple-600-color;
  .item__radio {
    background-color: $purple-600-color;
  }
  .item__letter {
    color: $white-color;
  }
}

.answers__radio {
  // -webkit-appearance: none;
   /* appearance: none;  */
  opacity: 0;
}

.item__radio {
  @include bgColorIcon($space-500, $grey-50-color);
  text-align: center;
}

.item__text {
  @include tgSize($textMobile-4, 500); 
}

.item__letter {
  color: $grey-500-color;
  @include tgSize($textMobile-4, 500);
  text-transform: uppercase;
}

.item__icon {
  display: none; 
  width: $space-300;
  height: $space-300;
  background-image: url('../images/icon-error.svg');
  background-size: contain;
}

.button__submit {
  @include buttonItem;
  @include tgSize($textMobile-4, 500);
  display: block;
  background-color: var(--bg-button); // $purple-600-color;
  text-align: center;
  text-transform: capitalize;
  color: $white-color;
}
.answer__error {
  @include tgSize($textMobile-4, 500);
  display: flex;
  gap: $space-100;
  justify-content: center;
  align-items: center;
  color: $red-500-color;
}

.display__none {
  display: none !important;
}

/* ###### END ######  QUIZ QUESTIONS START  ############# */

/* ###### START ###   QUIZ  COMPLETED  ################# */

.wrappers__completed {
  display: grid; 
  gap: $space-500;
  padding: $space-400 $space-300 0 $space-300;
}

.completed__title {
  @include tgSize($textMobile-2, 300);
  line-height: 1;
}

.completed__subtitle {
  @include tgSize($textMobile-2, 600);
  line-height: 1;
}

.completed__results {
  display: grid;
  gap: 1rem;
}

.results__result {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: $space-400;
  background-color: var(--bg-item); // $blue-850-color;
  border-radius: 1rem;
}

.result__number {
  @include tgSize($textMobile-1, 500);
  line-height: 1.2;
}

.result__of {
  @include tgSize($text-7, 400);
  color: $blue-300-color;
}

.completed__button {
  @include tgSize($textMobile-4, 500);
  width: 100%;
  padding: 1rem;
  background-color: $purple-600-color;
  border-radius: $space-150;
}

/* ############### CLASS ERROR GOOD INLINE ########### */

 

@media (min-width: 45em) {
  body {
    background-image: url('../images/pattern-background-tablet-light.svg');
    background-repeat: no-repeat;
    padding: $space-500 $space-800 0 $space-800;
  }
    
  .layout__access {
    /* margin: $space-500 $space-800; */
    height: 3.5rem;
    padding: 0;
  }
/* ########### QUIZ MENU START TABLET ########## */
/* ########## LAYOUT--WRAPPERS ########### */

  .start__title {
    font-size: $space-800; //64px
  }
  .start__subtitle {
  font-size: $space-250;
  }
  .wrappers__start {
  gap: $space-800;
  padding-inline: 0;
  }
  .quiz__item {
    grid-template-columns: $space-700 1fr;//56px
    border-radius: $space-275;
    font-size: $space-350;
  }
  .menu__list {
    gap: $space-300; //24px
  }


/* ####### START QUESTIONS TABLET ######## */
/* #######  WRAPPERS--QUESTIONS ######## */

  .wrappers__questions {
    padding-inline: 0;
  }
  .questions__question {
    gap: 1.5rem;//21px
  }
  .question__title {
   font-size: $text-3;//36px
   line-height: 1.1;
   margin-bottom: $space-200;
  }
  .question__subtitle {
    font-size: $text-6;//20PX
    line-height: 1;
  }
  .questions__answers {
    gap: $space-300;//24px
  }
  .answers__item {
    grid-template-columns: 3.5rem 1fr 2.5rem;
    gap: $space-400;//32PX
    border-radius: 1.25rem;
  }
  .item__radio {
    width: $space-700; //56px
    height: $space-700;
    border-radius: $space-150;
  }
  .item__letter {
    font-size: $text-4;
  }
  .item__text {
    font-size: $text-4;
  } 
  .button__submit {
    font-size: $space-350;
    padding: $space-400;
    margin-top: .5rem;
  }
  .answer__error {
    @include tgSize($space-300, 400);
  }

/* #### END ####### QUIZ QUESTIONS TABLET ###### */

/* ### START ########## QUESTIONS COMPLETED TABLET ########### */ 
  .wrappers__completed {
    padding: 0;
    margin-top: $space-600;
}
  .access__image {
    @include bgColorIcon($space-700, $purple-100-color);
  }
  .item__images,
  .access__img {
    @include iconItem ($space-500);
  }
  .access__title {
    font-size: $text-4;
  }
  .access__themes {
    gap: $space-200; //16px
  }

  .themes__images {
    width: $space-300; //14px 
    height: $space-300; //14px 
  }

  .themes__options {
    width: $space-600; //32px
    height: $space-350; //20px
  }
  .theme__checkbox::before {
    width: $space-275;
    height: $space-275;
    top: 4px;
  }
  .theme__option:checked + .theme__checkbox::before {
      transform: translateX(21px);
  }
  
  .completed__results {
    width: 100%;
    /* padding: $space-600; */
    gap: $space-400;
}
  .completed__subtitle,
  .completed__title {
    font-size: $text-2;
    line-height: 1.2;
  }
  .results__result {
    gap: $space-500;
}
  .result__number {
    font-size: $text-1;
    line-height: 1.2;
  }
  .result__of {
    @include tgSize($text-5, 400);
    margin-top: 1rem;
  }
  .completed__button {
    font-size: $space-350;
    padding: $space-400; //32PX
    border-radius: $space-300; //24PX
  }
/* ####### END ###### QUESTIONS COMPLETED TABLET ########### */ 
}

/* ### START ######## QUIZ MENU START DESKTOP ########## */

@media (min-width: 87em) {
  body {
    background-image: url('../images/pattern-background-desktop-light.svg');
    align-items: center;
    padding: 0;
  } 
  .layout__access {
    max-width: 72.5rem;
    margin-top: 5.188rem;
  }
  .layout__wrappers {
    max-width: 72.5rem;
  }
  .wrappers__start {
    max-width: 72.5rem;
    grid-template-columns: 29.0063rem 35.25rem; //465px -- 564px
    align-items: start; 
    gap: $space-1600;
    line-height: 1.2;
    margin-top: $space-700;//72px
  }
  .access__image {
    border-radius: .5rem;
  }
/* ### END ######## QUIZ MENU START DESKTOP ########## */

/* ### START ####### QUIZ QUESTIONS DESKTOP ######## */

  .wrappers__questions {
    max-width: 72.5rem;
    grid-template-columns: 29.0063rem 35.25rem; //465px -- 564px
    align-items: start; 
    gap: $space-1600;
    line-height: 1.2;
    margin-top: $space-700;//72px
    transform: translateX(7%);
    transition: all .4s ease;
    &:hover {
    transform: translateX(0%);
    }
    &:focus {
    transform: translateX(0%);
    }
    &:active {
    transform: translateX(0%);
    }
  }
  .item__radio {
    border-radius: .5rem;
  }
  .questions__answers {
    gap: $space-200; //16px
  }
  .answers__item {
    padding: $space-300;//24px
  }
  .question__title {
    line-height: 1.3;
  }
  .question__bars {
    margin-top: $space-2000;
  }
  .button__submit {
    line-height: 1;
  }
/* ### END ####### QUIZ QUESTIONS DESKTOP ######## */
  
/* ### START ####### QUIZ COMPLETED DESKTOP ######## */

  .wrappers__completed {
    grid-template-columns: 28.126rem 35.25rem; //450px -- 564px
    gap: 9rem;
    margin-top: 5.313rem;
  }

  .completed__button {
    line-height: 1;
  }
}


:root:has(#theme__option:checked) {
  --bg-body: #313e51; //$blue-900-color;
  --bg-item: #3b4d66; // $blue-850-color;
  --bd-text: #fff; 
  --text-subtitle: #abc1e1;//$blue-300-color: 
  --bg-button: #a729f5;//$purple-600-color: 
  body {
    background-image: url('../images/pattern-background-mobile-dark.svg');
  }
  .themes__images--sun {
    background-image: url('../images/icon-sun-light.svg');
  }
  .themes__images--moon {
    background-image: url('../images/icon-moon-light.svg');
  }
  .answers__item--error .item__letter {
    color: $blue-850-color;
  }
  .answers__item--good .item__letter {
    color: $blue-850-color;
  }
  .answers__item--checked .item__letter {
    color: $blue-850-color;
  }
  @media (min-width: 45em) {
    body {
      background-image: url('../images/pattern-background-tablet-dark.svg');
      background-repeat: no-repeat;
    }
  }
  @media (min-width: 87em) {
    body {
      background-image: url('../images/pattern-background-desktop-dark.svg');
    }
  }
}
// :root:has(.answers__radio:checked) {
//   .answers__radio:haschecked {
//     .answers__item {
//       outline: 3px solid $purple-600-color !important;
//     }
//     .item__radio {
//       background-color: $red-500-color;
//     }
//     .item__letter {
//       color: $white-color;
//     }
//   }
// }








