* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul, ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

p a {
  display: inline;
}

img, video, iframe, picture, figure {
  display: block;
  max-width: 100%;
}

form, input, select, textarea, button, label {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/Rubik-VariableFont_wght.ttf");
  font-weight: 300 900;
}
@font-face {
  font-family: "rubikItalic";
  src: url("../fonts/Rubik-Italic-VariableFont_wght.ttf");
  font-weight: 300 900;
}
:root {
  --bg-body: #f4f6fa;
  --bg-item: #fff;
  --bd-text: #313e51;
  --text-subtitle: #626c7f;
  --bg-button: #a729f5;
}

body {
  background-image: url("../images/pattern-background-mobile-light.svg");
  background-color: var(--bg-body);
  color: var(--bd-text);
  display: flex;
  flex-direction: column;
  font-family: rubik;
}

.layout__access {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.access__icon {
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.completed__icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.access__icon--vissible {
  opacity: 1;
  transition: opacity 0.7s ease;
}

.results__title,
.access__title {
  font-size: 1.125rem;
  font-weight: 500;
}

.completed__image,
.access__image {
  width: 2.5rem;
  height: 2.5rem;
  align-content: center;
  background-color: #f6e7ff;
  border-radius: 0.3rem;
}

.completed__img,
.item__images,
.access__img {
  width: 1.786rem;
  height: 1.786rem;
  margin-inline: auto;
}

.access__themes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.themes__images {
  width: 1rem;
  height: 1rem;
}

.themes__images--sun {
  background-image: url("../images/icon-sun-dark.svg");
  background-size: contain;
}

.themes__images--moon {
  background-image: url("../images/icon-moon-dark.svg");
  background-size: contain;
}

.themes__options {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1.25rem;
  border-radius: 1.5rem;
}

.theme__checkbox {
  position: absolute;
  background-color: #a729f5;
  border-radius: 1.5rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.theme__checkbox::before {
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  content: "";
  background-color: #ffffff;
  border-radius: 50%;
  top: 3px;
  left: 2.5px;
  transition: all 0.5s ease-in-out;
}

.theme__option {
  opacity: 0;
  width: 0;
  height: 0;
}
.theme__option:hover {
  outline: 2px solid #306aff;
}
.theme__option:focus {
  outline: 2px solid #a729f5;
}
.theme__option:checked + .theme__checkbox::before {
  transform: translateX(15px);
}

/* ###### START ######  QUIZ MENU START  ############# */
.wrappers__start {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2.5rem;
  padding: 2rem 1.5rem;
  /* transition:  display .4s ease allow-discrete; */
}

.start__title {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.start__title--bold {
  font-weight: 500;
}

.title__bold {
  font-weight: 500;
}

.question__subtitle,
.start__subtitle {
  color: var(--text-subtitle);
  font-size: 0.875rem;
  font-family: rubikItalic;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.start__menu {
  width: 100%;
}

.menu__list {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.quiz__item {
  display: grid;
  grid-template-columns: 2.5rem 1fr 2rem;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: var(--bg-item);
  border-radius: 0.75rem;
  box-shadow: 0.7px 0.7px 8px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  outline: none;
  justify-items: flex-start;
}
.quiz__item .item__radio {
  width: 2.5rem;
  height: 2.5rem;
  align-content: center;
  background-color: #f4f6fa;
  border-radius: 0.3rem;
  text-align: center;
}
.quiz__item:hover {
  outline: 3px solid #a729f5;
}
.quiz__item:hover .item__radio {
  background-color: #a729f5;
}
.quiz__item:hover .item__letter {
  color: #ffffff;
}
.quiz__item:focus {
  outline: 3px solid #a729f5;
}
.quiz__item:focus .item__radio {
  background-color: #a729f5;
}
.quiz__item:focus .item__letter {
  color: #ffffff;
}

.item__images--html {
  background-color: #fff5ed;
}

.item__images--css {
  background-color: #e0fdef;
}

.item__images--js {
  background-color: #ebf0ff;
}

.item__images--access {
  background-color: #f6e7ff;
}

/* ###### END ######  QUIZ MENU START  ############# */
/* ###### START ######  QUIZ QUESTIONS START  ############# */
.wrappers__questions {
  display: grid;
  gap: 2.5rem;
  padding: 2rem 1.5rem 0 1.5rem;
  /* transition:  display 3s ease allow-discrete; */
}

.questions__question {
  display: grid;
  gap: 1rem;
}

.question__title {
  font-family: rubik;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.question__bars {
  width: 100%;
  height: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--bg-item);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4) inset;
  border-radius: 3rem;
}

.bars__progress {
  width: 0%;
  height: 0.5rem;
  background-color: #a729f5;
  align-content: center;
  margin-inline: 0.3rem;
  border-radius: 3rem;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5) inset;
  transition: width 0.7s ease-in;
}

.questions__answers {
  display: grid;
  gap: 1rem;
}

.answers__item {
  display: grid;
  grid-template-columns: 2.5rem 1fr 2rem;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: var(--bg-item);
  border-radius: 0.75rem;
  box-shadow: 0.7px 0.7px 8px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  outline: none;
}
.answers__item .item__radio {
  width: 2.5rem;
  height: 2.5rem;
  align-content: center;
  background-color: #f4f6fa;
  border-radius: 0.3rem;
  text-align: center;
}
.answers__item:hover {
  outline: 3px solid #a729f5;
}
.answers__item:hover .item__radio {
  background-color: #a729f5;
}
.answers__item:hover .item__letter {
  color: #ffffff;
}
.answers__item:focus {
  outline: 3px solid #a729f5;
}
.answers__item:focus .item__radio {
  background-color: #a729f5;
}
.answers__item:focus .item__letter {
  color: #ffffff;
}

.answers__radio {
  position: absolute;
  opacity: 0;
  width: 0px;
  height: 0px;
}

.answers__item--error:has(.answers__radio:checked) {
  outline: 3px solid #ee5454;
}
.answers__item--error:has(.answers__radio:checked) .item__radio {
  background-color: #ee5454;
}
.answers__item--error:has(.answers__radio:checked) .item__letter {
  color: #ffffff;
}
.answers__item--error:has(.answers__radio:checked) .item__icon {
  background-image: url("../images/icon-error.svg") !important;
}

.answers__item--good:has(.answers__radio:checked) {
  outline: 3px solid #2fd887;
}
.answers__item--good:has(.answers__radio:checked) .item__radio {
  background-color: #2fd887;
}
.answers__item--good:has(.answers__radio:checked) .item__letter {
  color: #ffffff;
}
.answers__item--good:has(.answers__radio:checked) .item__icon {
  background-image: url("../images/icon-correct.svg") !important;
}

.answers__item--checked {
  outline: 3px solid #a729f5;
}
.answers__item--checked .item__radio {
  background-color: #a729f5;
}
.answers__item--checked .item__letter {
  color: #ffffff;
}

.submitted .answers__item:has(.answers__radio:checked) {
  outline: 3px solid var(--bg-item);
}
.submitted .answers__item:has(.answers__radio:checked) .item__radio {
  background-color: var(--bg-item);
}
.submitted .answers__item:has(.answers__radio:checked) .item__letter {
  color: #ffffff;
}

.item__text {
  font-family: rubik;
  font-size: 1.125rem;
  font-weight: 500;
}

.item__letter {
  color: #626c7f;
  font-family: rubik;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}

.item__icon--error {
  /* @include itemIcon('../images/icon-error.svg'); */
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../images/icon-error.svg");
  background-size: contain;
}

.item__icon--good {
  /* @include itemIcon('../images/icon-correct.svg'); */
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../images/icon-correct.svg");
  background-size: contain;
}

.button__submit {
  display: grid;
  grid-template-columns: 2.5rem 1fr 2rem;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: #3b4d66;
  border-radius: 0.75rem;
  box-shadow: 0.7px 0.7px 8px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  outline: none;
  font-family: rubik;
  font-size: 1.125rem;
  font-weight: 500;
  display: block;
  background-color: var(--bg-button);
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.button__submit .item__radio {
  width: 2.5rem;
  height: 2.5rem;
  align-content: center;
  background-color: #f4f6fa;
  border-radius: 0.3rem;
  text-align: center;
}
.button__submit:hover {
  outline: 3px solid #a729f5;
}
.button__submit:hover .item__radio {
  background-color: #a729f5;
}
.button__submit:hover .item__letter {
  color: #ffffff;
}
.button__submit:focus {
  outline: 3px solid #a729f5;
}
.button__submit:focus .item__radio {
  background-color: #a729f5;
}
.button__submit:focus .item__letter {
  color: #ffffff;
}

.answer__error {
  font-family: rubik;
  font-size: 1.125rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: #ee5454;
}

.display__none {
  display: none !important;
}

/* ###### END ######  QUIZ QUESTIONS START  ############# */
/* ###### START ###   QUIZ  COMPLETED  ################# */
.wrappers__completed {
  display: grid;
  gap: 2.5rem;
  padding: 2rem 1.5rem 0 1.5rem;
}

.completed__title {
  font-family: rubik;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
}

.completed__subtitle {
  font-family: rubik;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
}

.completed__results {
  display: grid;
  gap: 1rem;
}

.results__result {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--bg-item);
  border-radius: 1rem;
}

.result__number {
  font-family: rubik;
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.result__of {
  font-family: rubik;
  font-size: 0.875rem;
  font-weight: 400;
  color: #abc1e1;
}

.completed__button {
  font-family: rubik;
  font-size: 1.125rem;
  font-weight: 500;
  width: 100%;
  padding: 1rem;
  background-color: #a729f5;
  border-radius: 0.75rem;
}

/* ############### CLASS ERROR GOOD INLINE ########### */
@media (min-width: 45em) {
  body {
    background-image: url("../images/pattern-background-tablet-light.svg");
    background-repeat: no-repeat;
    padding: 2.5rem 4rem 0 4rem;
  }
  .layout__access {
    /* margin: $space-500 $space-800; */
    height: 3.5rem;
    padding: 0;
  }
  /* ########### QUIZ MENU START TABLET ########## */
  /* ########## LAYOUT--WRAPPERS ########### */
  .start__title {
    font-size: 4rem;
  }
  .start__subtitle {
    font-size: 1.125rem;
  }
  .wrappers__start {
    gap: 4rem;
    padding-inline: 0;
  }
  .quiz__item {
    grid-template-columns: 3.5rem 1fr;
    border-radius: 1.25rem;
    font-size: 1.75rem;
  }
  .menu__list {
    gap: 1.5rem;
  }
  /* ####### START QUESTIONS TABLET ######## */
  /* #######  WRAPPERS--QUESTIONS ######## */
  .wrappers__questions {
    padding-inline: 0;
  }
  .questions__question {
    gap: 1.5rem;
  }
  .question__title {
    font-size: 2.25rem;
    line-height: 1.1;
    margin-bottom: 1rem;
  }
  .question__subtitle {
    font-size: 1.25rem;
    line-height: 1;
  }
  .questions__answers {
    gap: 1.5rem;
  }
  .answers__item {
    grid-template-columns: 3.5rem 1fr 2.5rem;
    gap: 2rem;
    border-radius: 1.25rem;
  }
  .item__radio {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.75rem;
  }
  .item__letter {
    font-size: 1.75rem;
  }
  .item__text {
    font-size: 1.75rem;
  }
  .button__submit {
    font-size: 1.75rem;
    padding: 2rem;
    margin-top: 0.5rem;
  }
  .answer__error {
    font-family: rubik;
    font-size: 1.5rem;
    font-weight: 400;
  }
  /* #### END ####### QUIZ QUESTIONS TABLET ###### */
  /* ### START ########## QUESTIONS COMPLETED TABLET ########### */
  .wrappers__completed {
    padding: 0;
    margin-top: 3rem;
  }
  .completed__image,
  .access__image {
    width: 3.5rem;
    height: 3.5rem;
    align-content: center;
    background-color: #f6e7ff;
    border-radius: 0.3rem;
  }
  .completed__img,
  .item__images,
  .access__img {
    width: 2.5rem;
    height: 2.5rem;
    margin-inline: auto;
  }
  .results__title,
  .access__title {
    font-size: 1.75rem;
  }
  .access__themes {
    gap: 1rem;
  }
  .themes__images {
    width: 1.5rem;
    height: 1.5rem;
  }
  .themes__options {
    width: 3rem;
    height: 1.75rem;
  }
  .theme__checkbox::before {
    width: 1.25rem;
    height: 1.25rem;
    top: 4px;
  }
  .theme__option:checked + .theme__checkbox::before {
    transform: translateX(21px);
  }
  .completed__results {
    width: 100%;
    /* padding: $space-600; */
    gap: 2rem;
  }
  .completed__subtitle,
  .completed__title {
    font-size: 4rem;
    line-height: 1.2;
  }
  .results__result {
    gap: 2.5rem;
  }
  .result__number {
    font-size: 9rem;
    line-height: 1.2;
  }
  .result__of {
    font-family: rubik;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
  }
  .completed__button {
    font-size: 1.75rem;
    padding: 2rem;
    border-radius: 1.5rem;
  }
  /* ####### END ###### QUESTIONS COMPLETED TABLET ########### */
}
/* ### START ######## QUIZ MENU START DESKTOP ########## */
@media (min-width: 87em) {
  body {
    background-image: url("../images/pattern-background-desktop-light.svg");
    align-items: center;
    padding: 0;
  }
  .layout__access {
    max-width: 72.5rem;
    margin-top: 5.188rem;
  }
  .layout__wrappers {
    max-width: 72.5rem;
  }
  .wrappers__start {
    max-width: 72.5rem;
    grid-template-columns: 29.0063rem 35.25rem;
    align-items: start;
    gap: 8rem;
    line-height: 1.2;
    margin-top: 3.5rem;
  }
  .completed__image,
  .access__image {
    border-radius: 0.5rem;
  }
  /* ### END ######## QUIZ MENU START DESKTOP ########## */
  /* ### START ####### QUIZ QUESTIONS DESKTOP ######## */
  .wrappers__questions {
    max-width: 72.5rem;
    grid-template-columns: 29.0063rem 35.25rem;
    align-items: start;
    gap: 8rem;
    line-height: 1.2;
    margin-top: 3.5rem;
    transform: translateX(7%);
    transition: all 0.4s ease;
  }
  .wrappers__questions:hover {
    transform: translateX(0%);
  }
  .wrappers__questions:focus {
    transform: translateX(0%);
  }
  .wrappers__questions:active {
    transform: translateX(0%);
  }
  .item__radio {
    border-radius: 0.5rem;
  }
  .questions__answers {
    gap: 1rem;
  }
  .answers__item {
    padding: 1.5rem;
  }
  .question__title {
    line-height: 1.3;
  }
  .question__bars {
    margin-top: 10rem;
  }
  .button__submit {
    line-height: 1;
  }
  /* ### END ####### QUIZ QUESTIONS DESKTOP ######## */
  /* ### START ####### QUIZ COMPLETED DESKTOP ######## */
  .wrappers__completed {
    grid-template-columns: 28.126rem 35.25rem;
    gap: 9rem;
    margin-top: 5.313rem;
  }
  .completed__button {
    line-height: 1;
  }
}
:root:has(#theme__option:checked) {
  --bg-body: #313e51;
  --bg-item: #3b4d66;
  --bd-text: #fff;
  --text-subtitle: #abc1e1;
  --bg-button: #a729f5;
}
:root:has(#theme__option:checked) body {
  background-image: url("../images/pattern-background-mobile-dark.svg");
}
:root:has(#theme__option:checked) .themes__images--sun {
  background-image: url("../images/icon-sun-light.svg");
}
:root:has(#theme__option:checked) .themes__images--moon {
  background-image: url("../images/icon-moon-light.svg");
}
:root:has(#theme__option:checked) .answers__item--error .item__letter {
  color: #3b4d66;
}
:root:has(#theme__option:checked) .answers__item--good .item__letter {
  color: #3b4d66;
}
:root:has(#theme__option:checked) .answers__item--checked .item__letter {
  color: #3b4d66;
}
@media (min-width: 45em) {
  :root:has(#theme__option:checked) body {
    background-image: url("../images/pattern-background-tablet-dark.svg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 87em) {
  :root:has(#theme__option:checked) body {
    background-image: url("../images/pattern-background-desktop-dark.svg");
  }
}

.answer__error,
.wrappers__start,
.wrappers__questions,
.wrappers__completed {
  transition: opacity 0.9s ease;
  opacity: 0;
}
.answer__error:where(:not(.display__none)),
.wrappers__start:where(:not(.display__none)),
.wrappers__questions:where(:not(.display__none)),
.wrappers__completed:where(:not(.display__none)) {
  display: allow-discrete grid;
  opacity: 1;
}
@starting-style {
  .answer__error:where(:not(.display__none)),
  .wrappers__start:where(:not(.display__none)),
  .wrappers__questions:where(:not(.display__none)),
  .wrappers__completed:where(:not(.display__none)) {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
